@font-face {
    font-family: bitMapFont;
    src: url(../fonts/Pixellari.ttf);
}
body{
    background-color:#202441;
    margin-top: 150px;
    min-width: 1000px;
}

.main{
    background-color: #202441; 
}
/* Head class */
#head{
    background-color: #353853;
    position: absolute;
    left: 0px;
    top: 0px;
    min-width: 1000px;
    width: 100%;
    display: flex;
}
#logoContainer{
    margin: 15px 20px 15px 15px;
}
.logo{
    width: 64px;
}
.pokeMenu{
    background-color: #202441;
    margin: 40px 20px 0px 20px;
    padding: 10px 10px 0px 10px;
}
.eventBox{
    background-color: #353853;
}
/* Everything that goes with Text */
h1{
    font-size: 80px;
}
h2{
    font-size: 70px;
}
h3{
    font-size: 60px;
}
h4{
    font-size: 50px;
}
h5{
    font-size: 40px;
}
h6{
    font-size: 30px;
}
p{
    font-size: 22px;
}
li{
    font-size: 22px;
}
.pokeMenu{
    color: #ebebeb;
    font-family: bitMapFont;
    font-size: 22px;
}
.main{
    text-align: center;
    color: #ebebeb;
    font-family: bitMapFont;
}
@keyframes linkHoofHoof {
    from{
        color: #7cd3b6;
    }
    to{
        color: rgb(183, 125, 212);
    }
}
@keyframes linkHoofHoofReversed {
    from{
        color: rgb(183, 125, 212);
    }
    to{
        color: #7cd3b6;
    }
}
a{
    animation: linkHoofHoofReversed 0.5s;
    color: #7cd3b6; 
    text-decoration: none;
}
a:hover{
    animation: linkHoofHoof 0.5s;
    color: rgb(183, 125, 212);
    text-decoration: none;
}
@keyframes makeItGreen {
    from{
        color: rgb(183, 125, 212);
        text-decoration: none;
    }
    to{
        color: rgb(125, 212, 177);
        text-decoration: none;
    }
}
@keyframes makeItGreenReversed {
    from{
        color: rgb(125, 212, 177);
        text-decoration: none;
    }
    to{
        color: rgb(183, 125, 212);
        text-decoration: none;
    }
}
.specialLink{
    animation: makeItGreenReversed 0.5s;
    color: rgb(183, 125, 212);
    text-decoration: none;
}
.specialLink:hover{
    animation: makeItGreen 0.5s;
    color: rgb(125, 212, 177);
    text-decoration: none;
}

.question{
    margin-left: 20%;
}
.answer{
    margin-right: 20%;
}
hr{
    width: 40%;
    border: #ebebeb 2px solid;
    border-radius: 4px;
}

/*Everything about Box organization*/
.main{
    display: block;
}
.row{
    text-align: center;
    display: block;
}
.col{
    text-align: center;
    display: flex;
    width: 60%;
    padding: 20px 20% 20px 20%;
}
.eventBox{
    border: #353853 10px solid;
    border-radius: 15px;
    width: 46%;
    margin: 1%;
}
.centerer{
    text-align: center;
}
ul{
    display: inline-block;
    text-align: left;
}