@font-face {
    font-family: bitMapFont;
    src: url(../fonts/Pixellari.ttf);
}
body{
    background-color: #000;
    margin-top: 6%;
}

.main{
    background-color: #000000;
    text-align: center;
    color: #ebebeb;
    font-family: bitMapFont;
}
#foot{
    background-color: #fff;
    margin: 1%;
}

/* Head class */
#head{
    background-color: #fff;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    display: flex;  
}
#logoContainer{
    background-color: aqua;
    margin: 0.5%;
}
.pokeMenu{
    background-color: aquamarine;
    margin: 0.5% 0.5% 0% 0.5%;
}
/* Everything with Text */

h1{
    font-size: 80px;
}
h2{
    font-size: 70px;
}
h3{
    font-size: 60px;
}
h4{
    font-size: 50px;
}
h5{
    font-size: 40px;
}
h6{
    font-size: 30px;
}
p{
    font-size: 22px;
}
