body{
   color: rgb(227, 213, 164); 
}
head{
    width: 100%;
    background-color: aqua;
}
footer{
    width: 100%;
    background-color: rgb(255, 208, 205);
}
.main{
    background-color: lightcoral;
}