:root{
    --primary-color: #ffecda;
    --secondary-color: #daecff;
    --accent-color: #57a3c4;
    --accent-color2: #ac4a4a;
    --accent-color3: #d3aae5;
    --accent-color4: rgb(150, 189, 243);
    --accent-color5: #a073b4;
    --text-color: black;
}

body{
    background-image: linear-gradient(to bottom, var(--secondary-color), var(--primary-color));
    color: var(--text-color);
}
#head{
    background-color: var(--primary-color);
    border-color: var(--accent-color);
}
.menu, .specialMenu, .menulang, .memeImage, button{
    background-color: var(--secondary-color);
    border-color: var(--accent-color);
}
#titre{
    border-color: var(--accent-color);
    background-color: var(--primary-color);
    color: var(--accent-color2);
}
video, #yIframe{
    border-color: var(--accent-color);
}
hr{
    border-color: var(--accent-color2);
}
.hehe{
    opacity: 0;
    color: aqua;
}
.code{
    border-color: black;
    background-color: var(--accent-color4);
}
a{
    color: var(--accent-color2);
}

::-webkit-scrollbar-track{
    background-color: var(--accent-color);
}
::-webkit-scrollbar-thumb{
    background-color: var(--accent-color3);
    opacity: 0.5;
}
::-webkit-scrollbar-thumb:hover{
    background-color: var(--accent-color5);
}

/* -------------------------------------------------------
|.                     EL.                                |
|                  ANIMATION.                             |
----------------------------------------------------------*/

/* LES MENUS EN HAUT */
@keyframes El_menu_GO_GO {
    from{
        background-color: var(--secondary-color);
    }
    to{
        background-color: var(--accent-color);
    }
}
@keyframes El_menu_GO_BACK {
    from{
        background-color: var(--accent-color);
    }
    to{
        background-color: var(--secondary-color);
    }
}
.menu{
    animation: EL_menu_GO_BACK 0.5s ease;
}
.menu:hover{
    background-color: var(--accent-color);
    animation: El_menu_GO_GO 0.5s ease;
}
.specialMenu{
    animation: El_menu_GO_BACK 0.5s ease;
}
.specialMenu:hover{
    background-color: var(--accent-color);
    animation: El_menu_GO_GO 0.5s ease;
}
.menulang{
    animation: El_menu_GO_BACK 0.5s ease;
}
.menulang:hover{
    background-color: var(--accent-color);
    animation: El_menu_GO_GO 0.5s ease;
}

/* pour les liens*/
@keyframes menuA_GO_GO {
    from{
        color: var(--accent-color2);
    }
    to{
        color: var(--accent-color3);
    }
}
@keyframes menuA_GO_GOBack {
    from{
        color: var(--accent-color3);
    }
    to{
        color: var(--accent-color2);
    }
}
a{
    animation: menuA_GO_GOBack 0.5s ease;
}
a:hover{
    animation: menuA_GO_GO 0.5s ease;
    color: var(--accent-color3);
}

/* ANYA */
@keyframes anya {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(359deg);
    }
}
.anya{
    animation-name: anya;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

/* Secret BUTTON */
@keyframes button_GO_GO {
    from{
        background-color: var(--secondary-color);
    }
    to{
        background-color: var(--accent-color);
    }
}
@keyframes button_GO_BACK {
    from{
        background-color: var(--accent-color);
    }
    to{
        background-color: var(--secondary-color);
    }
}
button{
    animation: button_GO_BACK 0.5s ease;
}
button:hover{
    animation: button_GO_GO 0.5s ease;
    background-color: var(--accent-color);
}

/* the secret */
@keyframes opacityIncreaser {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.hehe:hover{
    animation: opacityIncreaser 0.5s ease;
    opacity: 1;
}