::-webkit-scrollbar{
    width: 20px;
}
::-webkit-scrollbar-thumb{
    border-radius: 10px;
}

body{
    min-height: 100vh;
    background-size: cover;
    margin-top: 250px;
    min-width: 1000px;
}
#head{
    position: absolute;
    left: 0px;
    top: 0px;
    min-width: 1000px;
    width: 100%;
    height: 100px;
    display: flex;
    border-bottom: solid 5px;
}
/* TOP HEAD MENU */
.menu{
    position: relative;
    width: 120px;
    height: 80px;
    margin: 35px 5% 0px 5%;
    border: 5px solid;
    border-radius: 80px;
    padding-top: 40px;
}
.specialMenu{
    position: relative;
    width: 120px;
    height: 120px;
    margin: 35px 5% 0px 5%;
    border: 5px solid;
    border-radius: 80px;
    padding-top: 40px;
    z-index: 0;
}

/* EL bodyy */
.main{
    display: block;
}
#titre{
    border: outset 10px;
    padding: 20px;
    border-radius: 30px;
    margin: 40px 15%;
}
.row{
    display: block;
}
.col{
    display: flex;
    width: 60%;
    margin: 20px 20% 20px 20%;
}
.col p{
    width: 60%;
    margin: 1%;
}
.code{
    margin: 20px 20% 20px 20%;
    border: solid 5px;
    border-radius: 25px;
    padding: 20px;
}
dl, ol{
    padding: 20px 20% 20px 20%;
}
.menulang{
    width: 20%;
    height: 100px;
    margin: 20px 6.66% 20% 6.66%;
    border: 7px outset;
    padding: 45px 0% 0% 0%;
    border-radius: 25px;
}
button{
    width: 20%;
    margin:  20px 40% 20px 40%;
    padding: 5% 5%;
    border-radius: 25px;
    border: dashed 5px;
}

/* Decoration */
hr{
    border: 5px solid;
    border-radius: 5px;
    margin: 20px 20% 20px 20%;
}

/* ANYA */
.anya{
    width: 70px;
    margin-top: 15px;
}


/* SECRET */
.who{
    width: 40%;
    margin: 20px 30% 20px 30%;
    border-radius: 25px;
}

/* IMAGES */
#divLOGO{
    margin: 15px 20px 15px 15px;
}
.logo{
    width: 64px;
}
video{
    width: 50%;
    margin: 20px 25% 25px 25%;
    border-radius: 25px;
    border: dashed 5px;
}
#yIframe{
    width: 650px;
    height: 366px;
    border-radius: 25px;
    border: dashed 5px;
}
.memeImage{
    width: 40%;
    margin: 20px 30% 20px 30%;
    border-radius: 25px;
    border: dashed 5px;
}

/* CONTACT */
.contAva{
    width: 64px;
    image-rendering: pixelated;
}
.lienExt{
    width: 48px;
    image-rendering: pixelated;
}