body{
    background-image: linear-gradient(to bottom,#daecff, #ffecda);
    min-height: 100vh;
    background-size: cover;
    margin-top: 250px;
    min-width: 1000px;
}
#head{
    background-color: #ffecda;
    position: absolute;
    left: 0px;
    top: 0px;
    min-width: 1000px;
    width: 100%;
    height: 100px;
    display: flex;
    border-bottom: solid 5px #57a3c4;
}
/* TOP HEAD MENU */
.menu{
    position: relative;
    background-color: #daecff;
    width: 120px;
    height: 80px;
    margin: 35px 5% 0px 5%;
    border: #57a3c4 5px solid;
    border-radius: 80px;
    padding-top: 40px;
}
.specialMenu{
    position: relative;
    background-color: #daecff;
    width: 120px;
    height: 120px;
    margin: 35px 5% 0px 5%;
    border: #57a3c4 5px solid;
    border-radius: 80px;
    padding-top: 40px;
    z-index: 0;
}

/* EL bodyy */
.main{
    display: block;
}
.row{
    display: block;
}
.col{
    display: flex;
    width: 60%;
    margin: 20px 20% 20px 20%;
}
.col p{
    width: 60%;
    margin: 1%;
}
.menulang{
    background-color: #daecff;
    width: 20%;
    height: 100px;
    margin: 20px 6.66% 20% 6.66%;
    border: 7px #57a3c4 outset;
    padding: 45px 0% 0% 0%;
    border-radius: 25px;
}
button{
    width: 20%;
    margin:  20px 40% 20px 40%;
    padding: 5% 5%;
    border-radius: 25px;
    border: #57a3c4 dashed 5px;
    background-color: #daecff;
}

/* Decoration */
hr{
    border: 5px solid #ac4a4a;
    border-radius: 5px;
    margin: 20px 20% 20px 20%;
}

/* ANYA */
.anya{
    width: 70px;
    margin-top: 15px;
}


/* SECRET */
.hehe{
    opacity: 0;
    color: aqua;
}
.who{
    width: 40%;
    margin: 20px 30% 20px 30%;
    border-radius: 25px;
}

/* IMAGES */
#divLOGO{
    margin: 15px 20px 15px 15px;
}
.logo{
    width: 64px;
}
video{
    width: 50%;
    margin: 20px 25% 25px 25%;
    border-radius: 25px;
    border: #57a3c4 dashed 5px;
}
#yIframe{
    width: 650px;
    height: 366px;
    border-radius: 25px;
    border: #57a3c4 dashed 5px;
}
.memeImage{
    width: 40%;
    margin:  20px 30% 20px 30%;
    border-radius: 25px;
    border: #57a3c4 dashed 5px;
}