/* Da used font */
@font-face {
    font-family: customFont;
    src: url(../fonts/Righteous-Regular.ttf);
}

/* General rules */
body, button, .specialMenu, .menu, .row, .col{
    font-family: customFont;
    
    text-align: center;
}
h1{
    text-decoration: underline 5px;
}
dl, ol{
    text-align: left;
    list-style-position: inside;
}
#titre{
    text-decoration: none;
}
button{
    font-size: large
}