h1, h2, h3, h6{
    text-align: center;
}
h1{
    text-decoration: underline 5px;
}
p{
    text-align: center;

}

.code{
    background-color: rgb(150, 189, 243);
    margin: 20px 20% 20px 20%;
    border: solid 5px black;
    border-radius: 25px;
    padding: 20px;
}
code{
    background-color: rgb(150, 189, 243);
}
dl, ol{
    padding: 20px 20% 20px 20%;
}
#titre{
    color: #ac4a4a; 
    text-decoration: none;
    border: #57a3c4 outset 10px;
    padding: 20px;
    border-radius: 30px;
    margin: 40px 15%;
    background-color: #ffecda;
}